{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
<section>
  <div class="container">
    <div class="table-responsive">
      <h1>Authors</h1>
      <a href="{{ path('app_author_new') }}" class="btn btn-success mb-3">+ Add an author</a>   
      <table class="table table-dark table-bordered table-hover mb-0">
        <thead>
          <tr>
            <th class="p-2" scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Books</th>
          </tr>
        </thead>
        <tbody>
          {% for author in pagination %}
          <tr class="item-row" data-href="{{ path('app_author_show', {'id': author.id}) }}">
            <td>{{ author.firstName }}</td>
            <td>{{ author.lastName }}</td>
            <td>
              {{ author.books|map(book => book.title)|join(', ') }}
            </td>
          </tr>
          {% else %}
            <tr>
              <td colspan="4">no records found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="navigation p-4">
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
</section>

<script src="{{ asset('js/book-template.js') }}"></script>
{% endblock %}
