{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-5 w-75">
        <div class="table-responsive">
          <h1 class="table-title">Author</h1>
          <table class="table table-dark table-bordered mb-0">
            <tbody>
              <tr>
                <th scope="row">Id</th>
                <td>{{ author.id }}</td>
              </tr>
              <tr>
                <th scope="row">FirstName</th>
                <td>{{ author.firstName }}</td>
              </tr>
              <tr>
                <th scope="row">LastName</th>
                <td>{{ author.lastName }}</td>
              </tr>
              <tr>
                <th scope="row">Books</th>
                <td>
                  {{ author.books|map(book => book.title)|join(', ') }}
                </td>                
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between">
          <a href="{{ path('app_author_index') }}" class="btn btn-secondary mt-3">← Back to List</a>
          <div class="d-flex">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_author_index') }}" class="btn btn-danger mt-3 p-0">{{ include('author/_delete_form.html.twig') }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
