<div class="container-md p-4 bg-dark mx-auto form-container">
  {{ form_start(form, {'attr': {'class': 'form-group bg-dark'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <div>
      {{ form_label(form.releaseDate, 'Release date', {'label_attr': {'class': 'form-label'}}) }}
    </div>
    <div class="input-group date mb-3">
      {{ form_widget(form.releaseDate, {'attr': {'class': 'form-control js-datepicker'}}) }}
      <span class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-calendar"></i>
        </span>
      </span>
    </div>
    {{ form_row(form.genres, {'label_attr': {'class': 'genres'}}) }}
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 30px;">
      <button type="button" style="white-space: nowrap; border-radius: 100%; width: 38px" class="btn mb-4 mr-2 form-icons" id="remove-author">
        <img class="bx nav_image" src="{{ asset('/images/2504761c-165e-4a58-8279-2480dc5b4502.png') }}"/>
      </button>
      <div class="mx-2">
        {{ form_label(form.authors, 'Authors', {'label_attr': {'class': 'authors-label'}}) }}
      </div>
      <button type="button" style="white-space: nowrap;" class="btn mb-4 ml-2 form-icons" id="add-author">
        <img class="bx nav_image" src="{{ asset('/images/31b9a0e9-3993-4397-9360-03b6f0bbe4e9.png') }}"/>
      </button>
    </div>
    <div id="authors-collection" data-prototype="{{ form_widget(form.authors.vars.prototype)|e('html_attr') }}">
      {% for authorField in form.authors %}
      <div class="author-form" style="color: white;">
        {{ form_errors(authorField) }}
        {{ form_widget(authorField) }}
      </div>
      {% endfor %}
    </div>
    {{ form_row(form.publisher, {'label_attr': {'class': 'centered'}}) }}
    <div class="d-flex justify-content-between">
      <a class="btn btn-secondary" href="{{ path('app_book_index') }}">← Back to List</a>
      <button class="btn btn-primary w-25">{{ button_label|default('Save') }}</button>
    </div>
  {{ form_end(form) }}
</div>
