{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<section>
  <div class="container">
    <div class="table-responsive">
      <h1 class="table-title">Users</h1>  
      <table class="table table-dark table-bordered table-hover mb-0">
        <thead>
          <tr>
            <th class="p-2 w-50" scope="col">Username</th>
            <th scope="col w-50">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for user in pagination %}
            <tr class="item-row" data-href="{{ path('app_user_show', {'id': user.id}) }}">
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
            </tr>
          {% else %}
            <tr>
              <td colspan="4">no records found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="navigation p-4">
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
</section>

<script src="{{ asset('js/book-template.js') }}"></script>
{% endblock %}
