{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-5 w-75">
        <div class="table-responsive">
          <h1 class="table-title">User</h1>
          <table class="table table-dark table-bordered mb-0">
            <tbody>
              <tr scope="row">
                <th>Username</th>
                <td>{{ user.username }}</td>
              </tr>
              <tr scope="row">
                <th>Roles</th>
                <td>
                  {{ 'ROLE_ADMIN' in user.roles ? 'Admin' : 'User' }}
                </td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <th>Verified</th>
                <td>{{ user.isVerified == 1 ? 'Yes' : 'No' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between">
          <a href="{{ path('app_user_index') }}" class="btn btn-secondary mt-3">← Back to List</a>
          <div class="d-flex">
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning mt-3 mx-2">Edit</a>
            <a href="{{ path('app_user_index') }}" class="btn btn-danger mt-3 p-0">{{ include('user/_delete_form.html.twig') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
